@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", serif;  
}

:root {
    --primary-color: #e69428;
    --primary-color-light:#8be3e9;
    --text-dark:#000;
    --white:#fff;
    --max-width: 1200px;

}

span{
    color: var(--primary-color);
}
.section-container{
    max-width: var(--max-width);
    margin: auto;
    padding:  5rem 1rem;


}
.section-subheader{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);

}
.section-header{
   font-size: 2.5rem; 
   font-weight: 600;
   color: var(--text-dark);
   line-height: 3.25rem;

}
.header-content h2 span,
.header-content h3 span{
    color: var(--primary-color);
    font-size: 30px;

}

.section-description{
    color: var(--text-dark);
    line-height: 1.75rem;
    
} 

.btn{
   padding: .75rem 1rem; 
   outline: none;
   border: none;
   font-size: 1rem;
   color: var(--text-dark);
   background: var(--primary-color);
   border-radius: 5px;
   transition: .3s;
   cursor: pointer;

}
.btn:hover{
    color: var(--primary-color);
    background: var(--text-dark);
    box-shadow: 3px 3px 3px  var(--primary-color);
 
}
img{
    display: flex;
    width: 100%;   
}

a{
    text-decoration: none;
    transition: .3s;
}

ul{
 
    list-style: none;
}
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav-header{
  padding: .75rem 1rem; 
  width: 100%; 
position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);

}

.nav-logo a{
  font-size: 1.5rem;  
  font-weight: 700;
  color: #000;
  font-family: "Abril Fatface", serif;

}
.nav-menu-btn{
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}



.nav-links{
    position: absolute;
   
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform  0.5s;
    z-index: -1;
}
.nav-links.open {
    transform: translateY(100%); 
}
.nav-links a{
    font-weight: 500;
    color: var(--text-dark);
    
}

.nav-btns{
    display: none;

}

/*home*/
/* Countdown Container */
.countdown {
    display: flex;
   text-align: center;
   justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .time-box {
    text-align: center;

  }
  
  .time-box span {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    
  }
  
  .time-box p {
    font-size: 1rem;
    color: #777;
  }
  
  /* Button */
  .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: var(--text-dark);
  }
  .header-container{
    display: grid; 
    padding-top: 4rem;
    gap: 2rem;
    text-align: center;
    overflow: hidden;
    
 }
 .header-content h1{
    margin-bottom: 2rem;
    font-size: 2.75rem;
    color: var(--text-dark);
    text-align: center;


 }
 .header-content h1 span{
    color: var(--primary-color);
    
 }
 .header-content .section-description{
    text-align: center;
 }
 .header-content h3{
    font-size: 25px;
 }
.header-image{
  position: relative;  
  isolation: isolate;
  display: grid;
  gap: 1rem;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: 90px;

}





.header-image img:nth-child(1) {
    grid-area: 1 / 1 / 4 / 3;   
}
   
.header-image img:nth-child(2) {
    grid-area: 4 / 1 / 7 / 3;   
}
   
.header-image img:nth-child(3) {
    grid-area: 2 / 3 / 6 / 6;   
}

.header-image img:hover {
    transform: scale(1.05);
  
}
.header-image {
    position: relative;  
    isolation: isolate;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 90px;
}
.header-image img {
    height: 100%; 
    object-fit: contain;  
    border-radius: 1rem;
    
    opacity: 0; 
    transform: scale(0.8); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
/*about style*/
.choose-container,
.explore-container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
    

}
.choose-image img{
  max-width: 320px;  
  margin-inline: auto ;
  border-radius: 1.5rem;
  box-shadow: 15px -22px 0px #ad3d3d;
 
}

.choose-list{
    margin-top: 4rem;
    display: grid;
    gap: 3rem;
}
.choose-list li{
    display: flex;
    align-items: center;
    gap: 1rem;


}
.choose-list li span{
   display: inline-block; 
   padding: 6px 14px;
   font-size: 2rem;
   color: var(--primary-color);
   border-radius: 10px;
   box-shadow: 0px 0px  30px rgba(0,0,0,0.1);

}
.choose-list li h4{
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color:#ad3d3d ;
}
.choose-list li p{
   color: #000; 
}

/*cards*/
/* General Section Styling */
.products-section {
    padding: 60px 4rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
  }
  
  .products-section .row {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 0 15px;
  }
  
  /* Card Styling */
  .product-card {
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }
  
  /* Image Styling */
  .product-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover .product-image {
    transform: scale(1.1);
  }
  
  /* Card Content Styling */
  .product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
  }
  
  .product-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    text-align: center;
  }
  


  
  .product-price {
    font-size: 1rem;
    font-weight: 600;
    color: #ad3d3d;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .product-rating {
    margin-bottom: 20px;
  }
  
  .star {
    color: #ffd700;
    font-size: 1.2rem;
   
  }
  
  /* Button Styling */
  .product-card .btn {
    display: flex;
    justify-content: space-between;
 
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .product-card .btn-primary {
    background-color: #ad3d3d;
    color: white;
    border: none;
   
  }
  
  .product-card .btn-secondary {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
   
  }
  
  .product-card .btn:hover {
    transform: translateY(-3px);
  }
  
  .product-card .btn-primary:hover {
    background-color: var(--primary-color);
  }
  
  .product-card .btn-secondary:hover {
    background-color: #e6e6e6;
  }
  
  .explore-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 50px;
  }
  
  .explore-content {
    flex: 1;
  }
  
  .section-subheader {
    color: #555;
    font-size: 1.2rem;
  }
  
  .section-header {
    font-size: 2.5rem;
    margin: 10px 0;
  }
  
  .explore-paragraph {
    margin: 20px 0;
    font-size: 1rem;
    color: #666;
  }
  
  .explore-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .stat-item {
    text-align: center;
  }
  
  .stat-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .explore-image {
    flex: 1;
  }
  .explore-image img {
    max-width: 400px;  
  margin-inline: auto ;
  border-radius: 1.5rem;
  box-shadow: 15px -22px 0px #e2bb97;
  }

  /* Contact Section Styling */
.contact-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #e69428;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.contact-icons a {
  font-size: 2rem;
  color: #ad3d3d;
  transition: color 0.3s ease;
}

.contact-icons a:hover {
  color: #e69428;
}

.app-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-image img {
  width: 180px;
  height: auto;
  margin-left: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-image img:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

 /* Footer */
 .footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  background: linear-gradient(to right, #ff5f6d, #ffc3a0, #fbc2eb, #a6c1ee, #d4a5a5);
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff5f6d, 0 0 10px #ff5f6d, 0 0 15px #ff5f6d, 0 0 20px #ff5f6d;
  }
  100% {
    text-shadow: 0 0 15px #ff5f6d, 0 0 25px #ff5f6d, 0 0 35px #ff5f6d, 0 0 50px #ff5f6d;
  }
}

.quick-links {
  list-style: none;
  padding: 0;
}

.quick-links li {
  display: inline;
  margin: 0 10px;
}

.quick-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.quick-links a:hover {
  color: #ff5f6d;
}

p {
  font-size: 1.1em;
  margin: 10px 0;
}
 
























  



@media (width > 790px) {
    nav{
        position: static;
        padding: 1.5rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
       
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

    }



    .nav-header{
        flex: 1;
        padding: 0;
        background: transparent;  

    }

    .nav-logo a{
        font-size: 1.5rem;
        color: var(--text-dark);
        

    }
    .nav-logo a span{
        color: var(--primary-color);

    }
  
    .nav-menu-btn{
        display: none;

    }
    .nav-links{
        position: static;
        width: fit-content;
        padding: 0;
        
        flex-direction: row;
        background: transparent;
        transform: none !important;
    }
    .nav-links a{
        color: var(--text-dark);
        
    }
    .nav-links a:hover{
        color: var(--primary-color);
    }
    .nav-btns{
      flex: 1;  
      display: flex;
      justify-content: flex-end;
    }
    .header-container{
        padding-top: 2rem;
        grid-template-columns: repeat(2,1fr); 
        align-items: center;
        isolation: isolate;
    }
    .header-content{
        position: relative;
    
    }
   .choose-container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;

   }
   .choose-image img{
    max-width: 380px;  
    margin-inline: auto ;
    border-radius: 1.5rem;
    box-shadow: 15px -22px 0px #ad3d3d;
   
  }


}
@media(max-width:990px){
  .products-section .row {
     
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 0 15px;
  }
}

@media(max-width:790px){
  .products-section .row {
     
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 0 15px;
  }
.product-title {
  font-size: 1.2rem;
}

.product-description {
  font-size: 0.9rem;
}

.product-price {
  font-size: 1rem;
}

.product-card {
 flex-direction: column;
}
.explore-container {
flex-direction: column;
}
.logo-text {
  font-size: 2.5em; 
}

.quick-links {
  flex-direction: column;
  align-items: center;
}

.quick-links li {
  margin-bottom: 10px;
}

p {
  font-size: 1em;
}

 /* Responsive Design */
 
  .contact-icons {
    gap: 15px;
  }

  .contact-title {
    font-size: 2em;
  }

  .app-buttons {
    flex-direction: column;
    align-items: center;
  }

  .app-image img {
    max-width: 120px;
  }
}





@media (max-width: 600px) {
  .products-section .row {
     
      display: grid;
      grid-template-columns:1fr;
      gap: 30px;
      padding: 0 15px;
    }
  .product-card {
    margin-bottom: 15px;
  }

  .product-title {
    font-size: 1.1rem;
  }

  .product-description {
    font-size: 0.8rem;
  }

  .product-price {
    font-size: 0.9rem;
  }

  .product-rating {
    font-size: 1rem;
  }
  .logo-text {
    font-size: 1em; 
  }

  .quick-links a {
    font-size: .5em; 
  }
  .contact-title {
    font-size: 1.8em;
  }

  .contact-icons a {
    font-size: 1.8em;
  }

  .app-buttons {
    flex-direction: column;
    align-items: center;
  }

  .app-image img {
    max-width: 100px;
  }
}


